body {
    font-family: Inter,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eecea9;
}

#posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 44px;
}

header a{
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 24px;
    gap: 16px;
}

h1{
    font-size: 48px;
    text-transform: uppercase;
}
.icono {
    width: 100px;
    height: 100px;
}

.post {
    margin-top: 24px;
    width: 500px;
    padding: 20px;
    background: #fff;
    border: 6px solid #000;
    box-shadow: 12px 12px 0 #000;
    transition: transform 0.3s, box-shadow 0.3s;
}
.post:hover {
    transform: translate(-10px, -10px);
    box-shadow: 22px 22px 0 #000;
}

.post h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    position: relative;
    overflow: hidden;
}

.post h3 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
}

.post img {
    width: 200px;
}

.post p {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    margin-bottom: 20px;
}

.botonComentarios {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.comentarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.comentario :not(:last-child) {
    font-size: 14px;
    color: #000;
    font-style: italic;
    margin-top: 0;
    border-bottom: 1px solid #000;
}

.escondido {
    height: 0;
    visibility: collapse;
}

.user {
    width: 500px;
    padding: 20px;
    margin-bottom: 24px;
    background: #fff;
    border: 6px solid #000;
    box-shadow: 12px 12px 0 #000;
    transition: transform 0.3s, box-shadow 0.3s;
}
.user:hover {
    transform: translate(-10px, -10px);
    box-shadow: 22px 22px 0 #000;
}

.user h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    position: relative;
    overflow: hidden;
}

.user p {
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    margin-bottom: 20px;
}

.menu{
    margin: 20px;
    display: flex;
    gap: 40px;
}

.menu a{
    color: #000;
    text-decoration: none;
    border-radius: 0;
    border: #000 4px solid;
    padding: 12px;
    font-size: 2em;
    background-color: #fff;
    box-shadow: 6px 6px 0 #000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu a:hover {
    transform: translate(-6px, -6px);
    box-shadow: 12px 12px 0 #000;
}

.volver{
    opacity: 0%;
    background-color: #fff;
    color: #000;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    border: #000 4px solid;
    position: fixed;
    bottom: 12px;
    right: 12px;
    transition: visibility 2s;
}

.visible{
    opacity: 100%;
}